:root {
  --clr-text: hsl(23 100% 95%);
  --clr-bg: hsl(23 5% 5%);
  --clr-primary: hsl(23 72% 17%);
  --clr-secondary: hsl(50 60% 55%);
  --bkpt-mobile: 600px;
  --bkpt-tablet: 900px;
  --bkpt-laptop: 1200px;
  --bkpt-desktop: 1800px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-size: 62.5%; /* 1rem = 10px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 8rem;
}

a {
  font-weight: 500;
  color: var(--clr-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 1.6rem;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
