
:root {
  --clr-text: hsl(23 100% 98%);
  --clr-bg: hsl(23 10% 4%);
  --clr-primary: hsl(23 72% 17%);
  --clr-secondary: hsl(50 85% 60%);
  --clr-surface: hsl(23 12% 11%);
  --clr-surface-hover: hsl(23 12% 13%);
  --clr-muted: hsl(23 30% 80%);
  --bkpt-mobile: 600px;
  --bkpt-tablet: 768px; /* Adjusted from 900px to 768px */
  --bkpt-laptop: 1200px;
  --bkpt-desktop: 1800px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-size: 62.5%; /* 1rem = 10px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 8rem;
}

a {
  font-weight: 500;
  color: var(--clr-primary);
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--clr-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 1.6rem;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
    