:root {
  --clr-txt-primary: #f9f9f9;
  --clr-bg-primary: #1a1a1a;
  --clr-brand-primary: #646cff;
  --clr-brand-secondary: #535bf2;
  --bkpt-mobile: 600px;
  --bkpt-tablet: 900px;
  --bkpt-laptop: 1200px;
  --bkpt-desktop: 1800px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-txt-primary);
  background-color: var(--clr-bg-primary);
  font-size: 62.5%; /* 1rem = 10px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-top: 8rem;
}

a {
  font-weight: 500;
  color: var(--clr-brand-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--clr-brand-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 1.6rem;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: var(--clr-brand-primary);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-bg-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--clr-brand-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
